@model IEnumerable<Worktime.ViewModel.PassageVM>
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Passage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" href="~/css/col-exp-panel.css" />
}

<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Log Time
            </th>
            <th>
                POINTEUSE
            </th>
            <th>
                NOM
            </th>
            <th>
                PRENOM
            </th>
            <th>
                CAFAT
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@((item.Type == 1?"out":"in"))">
                <td>
                    @{
                        string formattedDate = item.LogTime.ToString("dd/MM - HH:mm");
                        @formattedDate
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PointerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-SSN="@item.SSN">
                        @Html.DisplayFor(modelItem => item.SSN)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<style>
    .out {
        background: #00ff00
    }

    .in {
        background: #FF8B02
    }

    .normal {
        background: #FFFFFF
    }
</style>

@section Scripts {
    <script src="~/js/col-exp-panel.js"></script>
}