@model Worktime.Models.Employee

@{
    ViewData["Title"] = "Suppression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employe</h1>

<h3>Etes-vous sûr de vouloir supprimer cet élément ?</h3>
<div>
    <h4>Lieu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            CAFAT
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class="col-sm-2">
            TAG
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt class="col-sm-2">
            NOM
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            PRENOM
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            DATE ENTREE
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt class="col-sm-2">
            INFO
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt class="col-sm-2">
            WEB ACCESS
        </dt>
        <dd class="col-sm-10">
            @if (Model.WebAccess == true)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked disabled>
                </div>
            }
        </dd>

        <dt class="col-sm-2">
            ENABLE
        </dt>
        <dd class="col-sm-10">
            @if (Model.Enable == true)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked disabled>
                </div>
            }
        </dd>


    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
