@using System.Globalization

<button type="button" class="rechcollapsible">Recherche</button>
<div class="rechcontent">
    <form>
        <div class="form-row">
            <div class="col-2">
                <label class="control-label my-2">Du</label>
                <select id="Year" name="Year" class="form-control">
                    @{
                        int yearValue = Convert.ToInt32(ViewBag.Year);
                    }
                    @for (int i = DateTime.Now.Year - 10; i <= DateTime.Now.Year + 10; i++)
                    {
                        <option value="@i" selected="@(i == yearValue ? "selected" : "")">@i</option>
                    }
                </select>
                <select id="Month" name="Month" class="form-control">
                    @{
                        int monthValue = Convert.ToInt32(ViewBag.Month);
                    }
                    @for (int i = 1; i <= 12; i++)
                    {
                        string monthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i);
                        <option value="@i" selected="@(i == monthValue ? "selected" : "")">@monthName</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center">
                <input id="btnRechercher" type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
